#edit-list,
#done-list,
#delete-list{
    float: right;
}

#back-list{
    margin-bottom: 15px;   
}

#delete-list{
    margin-top: 0px;
}

#edit-list{
    margin: 0px 8px;   
}

.well:hover{
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}

.btn,
.btn:focus{
    border-radius: 0px !important;   
    background-color: #4cc8ee;
    border: 1px solid #222 !important;   
    color: #222;
}

.btn:hover{
    color: #4cc8ee !important;
    background-color: #222 !important;
}

.complete{
    text-decoration: line-through;   
}