#add-new-list,
#add-new-list:focus{
    float: right;
    border: 1px solid #222;
    background-color: #4cc8ee;
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
    /*box-shadow: 5px 5px 5px #888888;*/
    border-radius: 0px;
    color: #222;
}

#add-new-list:hover{
    background-color: #222;
    color: #4cc8ee;
}

ul a{
    color: #222;   
}

ul a:hover{
    color: #222;
    text-decoration: none;
}

.well{
    border-radius: 0px;   
}

.well:hover{
    background-color: #4cc8ee;
    border: 1px solid #222;
}

.form-horizontal .control-label{
    text-align: left;
    padding-lefT: 0px;
    margin-bottom: 8px;
}

textarea{
    min-width: 100%;
    max-width: 100%;
}

.margin-bottom{
    margin-bottom: 15px;   
}

.modal-title{
    text-align: center;
}

.modal-header{
    background-color: #4cc8ee;
    border-bottom: 2px solid #222;   
}

.modal-dialog{
    border: 2px solid #222;   
}

.modal-content{
    border-radius: 0px;   
}

.modal-dialog .btn,
.modal-dialog .btn:focus{
    border-radius: 0px !important;   
    background-color: #4cc8ee;
    border: 1px solid #222 !important;   
    color: #222;
}

.modal-dialog .btn:hover{
    color: #4cc8ee !important;
    background-color: #222 !important;
}

.modal-footer{
    border-top: 0px;   
}

.complete{
    text-decoration: line-through;   
}